.albums-list {
  list-style: none;
  padding: 0;
}

.albums-list-item {
  margin-bottom: 1rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.5rem;
}

.album-title {
  font-weight: bold;
}

.album-photos-link {
  text-decoration: none;
  color: blue;
  margin-left: 0.5rem;
}
